## Importing modules that will be used for the exercise

In [1]:
%matplotlib inline
from sklearn.tree import DecisionTreeRegressor
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [98]:
data = pd.read_csv('C:/Users/Chigozie/Desktop/data sheets/melb_data.csv')

## Exploratory Data analysis (EDA)

In [3]:
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [5]:
#checks if there are NaN or missing fields, so we will drop those missing fields
#data.isnull().any()

In [99]:
#copying the original data
data_copy =  data.copy()

In [100]:
#dropping rows with null values
data_copy = data.dropna(axis = 0)

In [101]:
print(F'The shapes of the original data and modified data are {data.shape} and \
{data_copy.shape} respectively')

The shapes of the original data and modified data are (13580, 21) and (6196, 21) respectively

In [49]:
data_copy.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,6196.000000,6.196000e+03,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000
mean,2.931407,1.068828e+06,9.751097,3101.947708,2.902034,1.576340,1.573596,471.006940,141.568645,1964.081988,-37.807904,144.990201,7435.489509
std,0.971079,6.751564e+05,5.612065,86.421604,0.970055,0.711362,0.929947,897.449881,90.834824,38.105673,0.075850,0.099165,4337.698917
min,1.000000,1.310000e+05,0.000000,3000.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1196.000000,-38.164920,144.542370,389.000000
25%,2.000000,6.200000e+05,5.900000,3044.000000,2.000000,1.000000,1.000000,152.000000,91.000000,1940.000000,-37.855438,144.926198,4383.750000
50%,3.000000,8.800000e+05,9.000000,3081.000000,3.000000,1.000000,1.000000,373.000000,124.000000,1970.000000,-37.802250,144.995800,6567.000000
75%,4.000000,1.325000e+06,12.400000,3147.000000,3.000000,2.000000,2.000000,628.000000,170.000000,2000.000000,-37.758200,145.052700,10175.000000
max,8.000000,9.000000e+06,47.400000,3977.000000,9.000000,8.000000,10.000000,37000.000000,3112.000000,2018.000000,-37.457090,145.526350,21650.000000

In [50]:
data_copy.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

## Selecting the target or predictor variable and the feature variables
conventionally given the variable y and X respectively

## Defining the target and feature variables

In [19]:
y = data_copy.Price

In [100]:
features = ['Rooms','Bedroom2', 'Bathroom', 'BuildingArea', 'Landsize']
X = data_copy[features]
X.head()

   Rooms  Bedroom2  Bathroom  BuildingArea  Landsize
1      2       2.0       1.0          79.0     156.0
2      3       3.0       2.0         150.0     134.0
4      4       3.0       1.0         142.0     120.0
6      3       4.0       2.0         210.0     245.0
7      2       2.0       1.0         107.0     256.0

In [114]:
features2 = ['Rooms','Bedroom2', 'Bathroom', 'BuildingArea', 'Landsize', 'YearBuilt', 'Propertycount']
X = data_copy[features2]
X.head()

   Rooms  Bedroom2  Bathroom  BuildingArea  Landsize  YearBuilt  Propertycount
1      2       2.0       1.0          79.0     156.0     1900.0         4019.0
2      3       3.0       2.0         150.0     134.0     1900.0         4019.0
4      4       3.0       1.0         142.0     120.0     2014.0         4019.0
6      3       4.0       2.0         210.0     245.0     1910.0         4019.0
7      2       2.0       1.0         107.0     256.0     1890.0         4019.0

In [ ]:
'''from pandas.plotting import scatter_matrix
scatter_matrix(data, diagonal = 'kde')'''

In [101]:
print(f'The shapes of the predicted and predictor variables are {y.shape}, and {X.shape}')

The shapes of the predicted and predictor variables are (6196,), and (6196, 5)

# fitting our model

### splitting the features data into train and test: test data for validation

In [115]:
from sklearn.model_selection import train_test_split

In [116]:
#melb_model = DecisionTreeRegressor(random_state= 0, splitter = 'random')
melb_model = DecisionTreeRegressor(random_state= 0)

In [117]:
#splitting the X and y data
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 0)

##### fitting and predicting the X_test to get a predicted y
##### validating the model

In [118]:
fit = melb_model.fit(X_train,y_train)

In [119]:
predict_y = fit.predict(X_test)
predict_y[:10]

array([1722500.,  665000.,  621000.,  960000.,  615000.,  716000.,
        860000., 2450000., 1575000.,  336000.])

In [120]:
for predict, actual in zip(predict_y[:5],y_test.head(5)):
    print(f'The predicted price:{predict}\nThe actual price:{actual}\n')

The predicted price:1722500.0
The actual price:815000.0

The predicted price:665000.0
The actual price:655000.0

The predicted price:621000.0
The actual price:957500.0

The predicted price:960000.0
The actual price:1330000.0

The predicted price:615000.0
The actual price:722000.0

In [121]:
correct_pred = np.where(predict_y == y_test)[0]
correct_pred

array([ 269,  355,  444,  685,  729,  829,  832,  890, 1410, 1414, 1421],
      dtype=int32)

In [122]:
incorrect_pred = np.where(predict_y != y_test)[0]
incorrect_pred.size

1538

In [123]:
#Accuracy of the X_test and y_test
Accuracy = fit.score(X_test,y_test)
Accuracy

0.34781031305112475

In [124]:
#accuracy of the X_train and the y_train
Accuracy1 = fit.score(X_train, y_train)
Accuracy1

0.9998938893821396

#### Validating the model using the mean absolute error to check the average price of the mispredicted data

In [125]:
#used to validate the model to find the average of the mispredicted data
from sklearn.metrics import mean_absolute_error

val_mae = mean_absolute_error(y_test,predict_y)
print(f'${val_mae}')

$347619.6720464816

In [126]:
np.mean(y)

1068828.202065849

In [127]:
val_mae/np.mean(y)

0.32523437478034023

In [128]:
#predicting with a testing data to validate the model 

new_features2 = np.array([2,2,1,120,100,2019,10000]).reshape(1,7)

new_features2_predict = fit.predict(new_features2)
for price in new_features2_predict: print(f'The price of a house with 2 rooms, 2 bedrooms, \
1 bathroom, buildingArea of 120, landsize of 100sq cm, built in 2019 and have propertycount of \
10000 is ${float(price)}')

The price of a house with 2 rooms, 2 bedrooms, 1 bathroom, buildingArea of 120, landsize of 100sq cm, built in 2019 and have propertycount of 10000 is $525000.0

# Predicting our model

In [173]:
#adding new features to predict the prices of the house, to do such u have to reshape the array
new_features = np.array([[2,3,3,160,180],[2,1,1,179,200]]).reshape(2,5)

In [151]:
#the new shape of the reshaped feature
new_features.shape

(2, 5)

In [174]:
predicted= fit.predict(new_features)

In [74]:
fit

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=0, splitter='best')

In [175]:
for j in predicted:
    print(f'Predicted price of the new feature is: S{j}')

Predicted price of the new feature is: S722000.0
Predicted price of the new feature is: S801000.0

In [133]:
data_copy[['Rooms','Bedroom2', 'Bathroom', 'BuildingArea', 'Landsize','Price']].head()

   Rooms  Bedroom2  Bathroom  BuildingArea  Landsize      Price
1      2       2.0       1.0          79.0     156.0  1035000.0
2      3       3.0       2.0         150.0     134.0  1465000.0
4      4       3.0       1.0         142.0     120.0  1600000.0
6      3       4.0       2.0         210.0     245.0  1876000.0
7      2       2.0       1.0         107.0     256.0  1636000.0